<div class="container">
    <div id="loginbox" data-ng-controller="loginCtrl">
        <form id="loginform" class="form-vertical">
            <div class="control-group normal_text"><h3><img src="img/logo.png" alt="Logo"/></h3></div>
            <div class="control-group">
                <div class="controls">
                    <div class="main_input_box">
                        <span class="add-on bg_lg"><i class="icon-user"></i></span>
                        <input type="text" placeholder="Username" data-ng-model="user.uname"/>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <div class="main_input_box">
                        <span class="add-on bg_ly"><i class="icon-lock"></i></span>
                        <input type="password" placeholder="Password" data-ng-model="user.upwd"/>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <span class="pull-left">
                    <a href="#" data-ng-click="Reg()" class="flip-link btn btn-info"
                       id="to-recover">
                        Lost password?
                    </a></span>
                <span class="pull-right">
                    <a ui-sref="main" class=" btn btn-info" id="to4-recover">
                        Login
                    </a>
                </span>
            </div>
        </form>

        <form id="recoverform" action="#" class="form-vertical">
            <p class="normal_text">Enter your e-mail address below and we will send you instructions how to recover a
                password.</p>

            <div class="controls">
                <div class="main_input_box">
                    <span class="add-on bg_lo"><i class="icon-envelope"></i></span>
                    <input type="text" placeholder="E-mail address"/>
                </div>
            </div>

            <div class="form-actions">
                <span class="pull-left">
                    <a href="#" data-ng-click="RegBack()" class="flip-link btn btn-success"
                       id="to-login">&laquo; Back to
                        login</a></span>
                <span class="pull-right"><a ui-sref="test" class="flip-link btn btn-info">Reecover</a></span>
            </div>
        </form>
    </div>
</div>